<!DOCTYPE html>
<html>
<!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>登录</title>
    <link rel='dns-prefetch' href='//s.w.org'/>
    <link rel='stylesheet' id='dashicons-css' href='https://cuiqingcai.com/wp-includes/css/dashicons.min.css?ver=5.0.3'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='buttons-css' href='https://cuiqingcai.com/wp-includes/css/buttons.min.css?ver=5.0.3'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='forms-css' href='https://cuiqingcai.com/wp-admin/css/forms.min.css?ver=5.0.3'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='l10n-css' href='https://cuiqingcai.com/wp-admin/css/l10n.min.css?ver=5.0.3'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='login-css' href='https://cuiqingcai.com/wp-admin/css/login.min.css?ver=5.0.3'
          type='text/css' media='all'/>
    <link rel="stylesheet" tyssspe="text/css" href="../static/css/icon.css"/>
    <meta name='robots' content='noindex,noarchive'/>
    <meta name='referrer' content='strict-origin-when-cross-origin'/>
    <meta name="viewport" content="width=device-width"/>
</head>
<body class="login login-action-login wp-core-ui  locale-zh-cn">
<div id="login">
    <h1><a href="/homepage" title="返回首页" tabindex="-1">返回首页</a></h1>

    <form name="loginform" id="loginform" action="/login" method="post">
        <div>
            <h3><font size="3" color="red">{{ msg }}</font></h3>
        </div>
        <p>
            <label for="user_login">手机号<br/>
                <input type="text" name="tel" id="tel" class="input" value="" size="20"/></label>
        </p>
        <p>
            <label for="user_pass">密码<br/>
                <input type="password" name="password" id="password" class="input" value="" size="20"/></label>
        </p>
        <p class="forgetmenot"><label for="rememberme"><input name="rememberme" type="checkbox" id="rememberme"
                                                              value="forever"/> 记住我的登录信息</label></p>
        <p class="submit">
            <input type="submit" name="wp-submit" id="wp-submit" class="button button-primary button-large" value="登录"/>
            <input type="hidden" name="redirect_to" value="https://cuiqingcai.com/wp-admin/"/>
            <input type="hidden" name="testcookie" value="1"/>
        </p>
    </form>


    <script type="text/javascript">
        function wp_attempt_focus() {
            setTimeout(function () {
                try {
                    d = document.getElementById('user_login');
                    d.focus();
                    d.select();
                } catch (e) {
                }
            }, 200);
        }

        wp_attempt_focus();
        if (typeof wpOnload == 'function') wpOnload();
    </script>

    <p id="backtoblog"><a href="/homepage">&larr; 返回首页</a></p>

</div>


<div class="clear"></div>
</body>
</html>
